{% extends "base.html" %} {% block body %} {% include "header.html" with post_property="true" %}

<div
  class="position-absolute top-0"
  style="
    height: 450px;
    width: 100%;
    z-index: -1;
    background: linear-gradient(
     {% comment %} 180deg,
      rgba(255, 156, 156, 0.5) 0%,
      rgba(255, 219, 219, 0) 100%  {% endcomment %}
      to bottom,
      rgba(0,204, 255, 0.2) 0%,
      rgba(255,255,255, 1) 100%
      
    );
  "
>
</div>
<div class="container about py-5 my-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-5" style="
          font-weight: bold;
          font-size: 6rem;
          padding: 2% 5%;
          text-underline-offset: 1rem;
        ">
        <span style="text-decoration: underline #4d94ff;">
          About
        </span>
        <span style="color: #4d94ff; text-decoration: underline black;">Us</span>
      </h1>

      <div class="row mt-5 pt-5">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <p class="fs-2">
            To facilitate its user to rent properties even on the go,  has
            also come up with all mobile sites for users. Users can now search
            properties and contact the owner and they can also post property comma
            check their responses received on them and even contact the interested
            tenants instantly.
          </p>
        </div>
        <div class="col-md-6">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/s66rBQgFk8Q"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            style="border-radius: 12px; width: 80%;  margin-left: 90px;"
          >
          </iframe>

          
        </div>
      </div>
      <div class="row mt-5 pt-5">
        <div class="col-md-6 order-2 order-md-1">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/xMKEAMBTbxU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            style="border-radius: 12px; width: 80%;"
          >
          </iframe>
        </div>
        <div class="col-md-6 p-4 order-1 order-md-2">
          <h3 class="fs-1 fw-bold">
            VISION AND MISSION:
          </h3>
          <ul class="ps-4 fs-3">
            <li class="">
              <p>
                <strong>Vision:</strong>
                Our vision is to become the leading renting and listing platform, providing a one-stop destination for anyone looking to rent. We aim to create a community where renters and the owners can connect and build lasting relationships, helping to make the rental experience enjoyable for all.
              </p>
            </li>
            <li>
              <p>
                <strong>Mission:</strong>
                At , our mission is to make the process of finding and renting a accommodation as seamless and hassle-free as possible. We strive to provide a user-friendly platform where renters can easily discover and connect with property owners, ensuring that both parties are satisfied with the rental arrangement.
              </p>
            </li>
          </ul>
        </div>
      </div>


      <h3 class="mt-5 text-center fw-bold" style="font-size: 3rem;">
        OUR Group
      </h3>

      <p class="fs-3">
         is a technology-driven Real Estate market player that
        offers advanced software solutions to solve up-to-date needs and
        challenges of real Estate Business, Brokers, Investors, Tenants and
        Landlords.
      </p>

      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center my-3">
          <div class="border rounded d-flex justify-content-center align-items-center pb-4 flex-column" style="width: 300px;">
            <img src="/static/images/ra.png" alt="ownerimage" class="" style="height: 200px; width: 100%;">
            {% comment %} <div class="fs-1 pt-4">Mr. Rahul Dubey</div>
            <div class="fs-4">Founder & CEO</div>
            <div class="d-flex justify-content-center align-items-center">
              <a href="https://www.linkedin.com/in/rahul-dubey-india" class="text-decoration-none" target="_blank">
                <i class="bi bi-linkedin" style="font-size: 4rem; color: rgb(13, 79, 193);"></i>
              </a>
            </div> {% endcomment %}
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center my-3">
          <div class="border rounded d-flex justify-content-center align-items-center pb-4 flex-column" style="width: 300px;">
            <img src="/static/images/log.png" alt="ownerimage" class="" style="height: 200px; width: 100%;">
            {% comment %} <div class="fs-1 pt-4">Mr. Saksham Garg</div>
            <div class="fs-4">Co-founder & CTO</div>
            <div class="d-flex justify-content-center align-items-center">
              <a href="https://www.linkedin.com/in/srinivas-ursroom/" class="text-decoration-none" target="_blank">
                <i class="bi bi-linkedin" style="font-size: 4rem; color: rgb(13, 79, 193);"></i>
              </a>
            </div> {% endcomment %}
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center my-3">
          <div class="border rounded d-flex justify-content-center align-items-center pb-4 flex-column" style="width: 300px;">
            <img src="/static/images/img_" alt="ownerimage" class="" style="height: 200px; width: 100%;">
            {% comment %} <div class="fs-1 pt-4">Mr. Shanshank R </div>
            <div class="fs-4">Co-founder & CFO</div>
            <div class="d-flex justify-content-center align-items-center">
              <a href="https://www.linkedin.com/in/shashank-r-117866189" class="text-decoration-none" target="_blank">
                <i class="bi bi-linkedin" style="font-size: 4rem; color: rgb(13, 79, 193);"></i>
              </a>
            </div> {% endcomment %}
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center my-3">
          <div class="border rounded d-flex justify-content-center align-items-center pb-4 flex-column" style="width: 300px;">
            <img src="/static/images/shubramo" alt="ownerimage" class="" style="height: 200px; width: 100%;">
            {% comment %} <div class="fs-1 pt-4">Ms. Subhra Mohanta</div>
            <div class="fs-4">Co-founder</div>
            <div class="d-flex justify-content-center align-items-center">
              <a href="https://www.linkedin.com/in/subhra-mohanta-01b01a1b9" class="text-decoration-none" target="_blank">
                <i class="bi bi-linkedin" style="font-size: 4rem; color: rgb(13, 79, 193);"></i>
              </a>
            </div> {% endcomment %}
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center my-3">
          <div class="border rounded d-flex justify-content-center align-items-center pb-4 flex-column" style="width: 300px;">
            <img src="/static/images/sayaig" alt="ownerimage" class="" style="height: 200px; width: 100%;">
            {% comment %} <div class="fs-1 pt-4">Ms. Sayani Ghosh </div>
            <div class="fs-4">Sales & Marketing Exicutive</div>
            <div class="d-flex justify-content-center align-items-center">
              <a href="https://www.linkedin.com/in/sayani-ghosh-61b298228" class="text-decoration-none" target="_blank">
                <i class="bi bi-linkedin" style="font-size: 4rem; color: rgb(13, 79, 193);"></i>
              </a>
            </div> {% endcomment %}
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
</div>

{% endblock body %}
</div>
</div>