{% extends "base.html" %}{% block body %}{% include "header.html" with post_property="false" %}
<section class="terms_conditions" id="termsCoditns">
  <div class="container">
    <h1 class="heading">TERMS OF USE <span> (Trendings Rental-ROOM)</span></h1>
    <div class="row">
      <p class="con_oara">
        These terms form a legally binding agreement between Users (“User(s),
        you, your, customer(s), yoTrendings Rentalelf”) and Oravel Stays Private Limited
        and/or its subsidiaries and affiliates (“Trendings Rental, we, us, our”). These terms
        shall govern the use of the website, mobile application, call centers
        (collectively referred to as “Trendings Rental Platform”) which enables the User to
        connect with us in relation to the services offered through the Trendings Rental
        Platform ("Services").
      </p>
      <p class="con_oara">
        Please read these terms carefully before accessing, using, obtaining or
        availing any products or Services by Trendings Rental. If you do not agree with these
        Terms of Use you may refrain from using the Trendings Rental Platform and/or
        Services. These conditions must be read in conjunction with any other
        applicable terms and conditions governing the use of Trendings Rental Platform and
        Services.
      </p>
      <p class="con_oara">
        Trendings Rental reserves the right to modify these Terms of Use at any time at its
        sole discretion. It will be your responsibility to keep yoTrendings Rentalelf updated
        with the Terms of Use from time to time, your continued usage of the Trendings Rental
        Platform and Services would be deemed to be an acceptance of these terms
        and the modifications thereto
      </p>
      <div class="content">
        <h4>TABLE OF CONTENT</h4>
        <ul>
          <li>Scope of Services</li>
          <li>Eligibility to use</li>
          <li>Using the Trendings Rental Platform: Account Registration and use</li>
          <li>Trendings Rental Services</li>
          <li>Term & Termination</li>
          <li>Terms specifically applicable to Customer</li>
          <li>Usage terms</li>
          <li>Prohibited Content</li>
          <li>Communications</li>
          <li>Third Party Links</li>
          <li>Intellectual Property</li>
          <li>Privacy</li>
          <li>Indemnification</li>
          <li>No warranty</li>
          <li>Limitation of Liability</li>
          <li>Refund Claim Period</li>
          <li>Modification of these Terms</li>
          <li>General Provisions</li>
        </ul>
      </div>
      <div class="content">
        <h4>SCOPE OF SERVICES</h4>
        <p>
          Trendings Rental through the Trendings Rental Platform markets. Trendings Rental branded properties, managed
          and/or owned by third parties (“Channel Partners”) as per agreed terms
          with Trendings Rental or Trendings Rental as the case maybe to help the Users avail the stay
          Services right (Trendings Rental’s Service). Trendings Rental Platform offers Services to its
          Users by offering its products (“Trendings Rental Products”) which shall include
          but shall not be limited to:
        </p>
        <ul>
          <li>Trendings Rental Rooms</li>
          <li>Trendings Rental Homes</li>
          <li>Trendings Rental PG</li>
          <li>Trendings Rental Services</li>
          <li>Trendings Rental mess</li>
          <li>Trendings Rental Flat</li>
        </ul>
      </div>
      <div class="content">
        <h4>ELIGIBILITY TO USE</h4>
        <ul>
          <li>
            Incase You must be at least eighteen (18) years of age or above and
            capable of entering, performing and adhering to You must be fifteen
            (15) years can book pg. or shall do so only with the involvement,
            guidance and supervision of their parents and / or legal guardians,
            under such parent /legal guardian’s registered account
          </li>
          <li>
            Incase, You must be at least eighteen (18) years of age or above and
            capable of entering, performing and adhering to these terms and
            enjoy all services. Trendings Rental reserves the right to terminate User’s
            access and refuse to provide User with access to the Trendings Rental Platform if
            Trendings Rental discovers that User is not stick to age guidelines mentioned
            above.
          </li>
        </ul>
      </div>
      <div class="content">
        <h4>USING THE Trendings Rental PLATFORM : ACCOUNT REGISTRATION AND USE</h4>
        <p>
          Trendings Rental makes the Services available to you through the Trendings Rental Platform upon
          you providing Trendings Rental certain required User information and having created
          an account ("Account") through Trendings Rental ID and password or other log-in ID
          and password (collectively, the "Account Information"). The Trendings Rental
          Platform requires you to register as a User by creating an Account in
          order to utilize the Services provided. You will be responsible for
          maintaining the confidentiality of the Account Information, and are
          fully responsible for all activities that occur under Your Account.
          You agree to (a) Immediately notify Trendings Rental of any unauthorized use of its
          Account Information or any other breach of security, and (b) Ensure
          that you exit/log out from the account at the end of each session. Trendings Rental
          cannot and shall not be liable for any loss or damage arising from
          your failure to comply with this clause. You may be held liable for
          losses incurred by Trendings Rental or any other customer or visitor to the Trendings Rental
          Platform due to authorized or unauthorized use of your account as a
          result of your failure in keeping its Account Information secure and
          confidential. Trendings Rental also allows restricted access to the Trendings Rental Platform
          for unregistered users. At the time of registration, you shall ensure
          that the Account Information provided by you in the Trendings Rental Platform
          registration form is complete, accurate and up-to-date. Use of another
          user’s account information is expressly prohibited.
        </p>
      </div>
      <div class="content">
        <h4>Trendings Rental SERVICES</h4>
        <p>
          Trendings Rental is primarily responsible for providing a suitable room/PG stay and
          for ensuring the acceptability of the services as promised by Trendings Rental to
          its customers. Trendings Rental has right to direct the Room owners to provide the
          room stay services to Trendings Rental’s customers.
        </p>
        <ul>
          <li>
            Trendings Rental understands the NEW age Customers requirements and accordingly
            offers wide variety of Room at its platform to service its Customer.
          </li>
          <li>
            Trendings Rental markets the room stays, providing its Customers with the room
            booking voucher that entitles them to avail Room stay service in our
            Trendings Rental branded rooms provided by our Channel partners as per terms
            agreed with Trendings Rental.
          </li>
          <li>
            In case Customers are not able to select the properties from our
            website, you can call our customer support desk and our team will
            help you find a suitable accommodation within your preferred budget
            and amenities.
          </li>
          <li>
            If any check-in is denied for a confirmed booking, Trendings Rental shall ensure
            that User is provided with an alternate accommodation of comparable
            standards. In an event, where the alternate accommodation could not
            be provided, Trendings Rental shall arrange for the refund of any pre booking
            amount collected from the User.
          </li>
          <li>
            Trendings Rental also promises its Users of a suitable room stay experiences at
            all its Trendings Rental branded rooms with following amenities:
            <ul>
              <li>AC rooms/pg. with Television</li>
              <li>Wi-Fi.</li>
              <li>Hygienic and sanitized washrooms</li>
              <li>Housekeeping Facilities.</li>
              <li>24*7 manned front desk to help you with all your queries.</li>
              <li>Food Facilities.</li>
            </ul>
          </li>
          <li>
            You can reach out to us by:
            <ul>
              <li>Writing to us on the Trendings Rental support page.</li>
              <li>Calling us on our 24X7 guest support helpline.</li>
            </ul>
          </li>
          <li>
            Trendings Rental stays involved with the Users right from the time when booking
            is made through Trendings Rental platform and throughout the room stays, ensuring
            that the User gets a comfortable room stay experience.
          </li>
        </ul>
      </div>
      <div class="content">
        <h4>TERM & TERMINATION</h4>
        <p>
          In case you wish to discontinue you can at any point opt out of your
          membership of the Trendings Rental Platform. Trendings Rental deserves the right to unilaterally
          terminate your use of the Trendings Rental Platform without notice or any liability
          for reasons of breach of the terms mentioned herein.
        </p>
      </div>
      <div class="content">
        <h4>TERMS SPECIFICALLY APPLICABLE TO CUSTOMER :</h4>
        <p>
          Trendings Rental is primarily responsible for providing a suitable room/PG stay and
          for ensuring the acceptability of the services as promised by Trendings Rental to
          its customers. Trendings Rental has right to direct the Room owners to provide the
          room stay services to Trendings Rental’s customers.
        </p>
        <ul>
          <li>
            <h3>Reservation or booking of services:</h3>
            <p>
              The process of booking Services from this Trendings Rental Platform may require
              you to disclose your personal and confidential information. To
              prevent any possibility of unauthorized access to your
              confidential information such as name, address etc., you shall not
              use/access this site from unsecure computers, unsecure
              communication links, unsecure mobile phones or locations such as
              Internet-Cafe(s), Cyber-Cafe(s) and other commercially available
              internet enabled computers or computer services. The User agrees,
              acknowledges and confirms that before placing any order on the Trendings Rental
              Platform, the User shall check the Service description and price
              carefully and by placing an order for a Service you agree to be
              bound by these terms including the Services’ description. You
              shall only place the order after fully satisfying yoTrendings Rentalelf with
              the price, description, look as has been displayed on Trendings Rental
              Platform. That relying on declarations, confirmations, information
              and obligations made/undertaken by the User in accordance with the
              terms, and believing the same to be true and acting on the faith
              thereof, Trendings Rental has agreed to provide the Services to the User as per
              the terms mentioned herein. In particular, the User does hereby
              agree, promise, declare, confirm, covenant, undertake and
              represent & warrant to Trendings Rental: a. the User is not under any legal or
              other deficiency which prevents/may prevent the User from: (i)
              entering into a valid contract under the applicable laws; and (ii)
              making valid payment to Trendings Rental for Services ordered by the User. b.
              In the event of detecting any suspicious activity from User’s
              account, Trendings Rental reserves the right to cancel all pending and future
              orders owing to any such incident without any liability to the
              User. 5 c. In a credit card transaction; you must use your own
              credit card for which User has full right & authority to validly
              use such credit card for making payment to Trendings Rental. Trendings Rental shall not be
              liable for any credit card fraud. The liability to use a card
              fraudulently will be on the User and the onus to 'prove otherwise'
              shall be exclusively on User. d. While using the Trendings Rental Platform User
              shall at all times strictly comply with the payment procedure and
              the terms mentioned herein in their entirety. e. Your use of the
              Services shall be deemed that you are fully satisfied with the
              description, look and design of the accommodation and usage fee of
              the accommodation as has been displayed on Trendings Rental's Platform. The
              User agrees and acknowledges that in the Trendings Rental Platform all Services
              are offered only at the sole discretion of Trendings Rental.
            </p>
          </li>
          <li>
            <h4>Payment & Usage Fee:</h4>
            <p>
              You hereby agree and understand that you will have to pay the
              usage fee as mentioned on the Trendings Rental Platform for the concerned
              Services via the payment mode provided on the Trendings Rental Platform post
              which User’s requested reservation will be confirmed. Once the
              reservation has been confirmed, Trendings Rental will debit the usage fee from
              the payment mode selected by the User. The User agrees and
              acknowledges that the payment procedure may call for and require
              additional verification of or information from the User and the
              User undertakes to provide complete, correct and proper
              information
            </p>
            <p>
              Trendings Rental uses third party payment providers to receive payments from
              User. Trendings Rental is not responsible for delays or erroneous transaction
              execution or cancellation of reservation due to payment issues.
              Trendings Rental takes utmost care to work with third party payment providers,
              but does not control their systems, processes, technology and work
              flows, hence cannot be held responsible for any fault at the end
              of payment providers.
            </p>
            <p>
              User making payments for Services provided via the Trendings Rental Platform,
              would be making payments to the entities mentioned as per the link
              mentioned in the tab named Payment for Services.
            </p>
          </li>
          <li>
            <h3>Responsibility:</h3>
            <p>
              You are requested to kindly take due care of all their personal
              valuables and belongings. Trendings Rental and its employees shall T be
              responsible for any loss, theft or damage to the Guests' personal
              valuables and belongings.
            </p>
          </li>
          <li>
            <h3>User / Guest Verification:</h3>
            <p>
              User / Guest verification on the Internet is difficult and we do
              not assume any responsibility for the confirmation of any Guest’s
              identity. otwithstanding the above, for transparency and fraud
              prevention purposes, and as permitted by applicable laws, we may,
              but have no obligation to (i) ask Guests to provide a form of
              government identification or other information or undertake
              additional checks designed to help verify the identities or
              backgrounds of Guests, (ii) screen Guests against third party
              databases or other sources and request reports from service
              providers, and (iii) where we have sufficient information to
              identify a Guest, obtain reports from public
            </p>
          </li>
          <li>
            <h4>USAGE TERMS</h4>
            <p>
              The information, materials, Services available on the Trendings Rental Platform
              may inadvertently include inaccuracies, typographical errors, or
              outdated information, Trendings Rental is not responsible for and shall not be
              bound to honor typographical or pricing errors on the Trendings Rental
              Platform. Trendings Rental reserves the right to refuse or cancel orders at any
              time, including but not limited to the orders that contain
              incorrect prices or product descriptions, orders in which Trendings Rental
              believes the User has violated applicable laws or these terms,
              orders that Trendings Rental believes are harmful to Trendings Rental or orders that Trendings Rental
              believes are fraudulent or based on illegal, fraudulent or
              deceitful use/furnishing of information or based on false
              information. Trendings Rental neither warrants nor makes any representations
              regarding the quality, accuracy or completeness of any data,
              information, product or Service. Subject to the Services referred
              in Paragraph “Trendings Rental services “Trendings Rental, in relation to its platform,
              expressly disclaims any warranties whether express or implied
              about the accuracy, completeness, correctness, suitability,
              reliability, availability, timeliness, quality, continuity,
              performance, error free or uninterrupted operation/functioning,
              fitness for a particular purpose, workmanlike effort,
              non-infringement, lack of viruses or other harmful components of
              the Services and/or products. Trendings Rental shall not be responsible for the
              delay or inability to use the Trendings Rental Platform unrelated
              functionalities, the provision of or failure to provide
              functionalities, or for any information, software, Services,
              functionalities and related graphics obtained through the Trendings Rental
              Platform, or otherwise arising out of the use of the Trendings Rental Platform,
              whether based on contract, tort, negligence, strict liability or
              otherwise. Further, Trendings Rental shall not be held responsible for
              non-availability of the Trendings Rental Platform during periodic maintenance
              operations or any unplanned suspension of access to the Trendings Rental
              Platform that may occur due to technical reasons or for any reason
              beyond Trendings Rental’s control. The User understands and agrees that any
              material or data downloaded or otherwise obtained through the Trendings Rental
              Platform is done entirely at their own discretion and risk and
              they will be solely responsible for any damage to their computer
              systems or loss of data that results from the download of such
              material or data. Trendings Rental accepts no liability for any errors or
              omissions, with respect to any information provided to the User.
            </p>
            <p>
              Trendings Rental may make access to and use of the Trendings Rental Platform, or certain
              areas or features of the Trendings Rental Platform, subject to certain
              conditions or requirements, such as completing a verification
              process, meeting specific quality or eligibility criteria, meeting
              ratings or reviews thresholds, or a User’s booking and
              cancellation history
            </p>
            <p>
              Due to the nature of the Internet, Trendings Rental cannot guarantee the
              continuous and uninterrupted availability and accessibility of the
              Trendings Rental Platform. Trendings Rental may restrict the availability of the Trendings Rental
              Platform or certain areas or features thereof, if this is
              necessary in view of capacity limits, the security or integrity of
              our servers, or to carry out maintenance measures that ensure the
              proper or improved functioning of the Trendings Rental Platform. Trendings Rental may
              improve, enhance and modify the Trendings Rental Platform and introduce new Trendings Rental
              Services from time to time.
            </p>
            <p>
              Trendings Rental may enable features that allow you to authorize other Users or
              certain third parties to take certain actions that affect your Trendings Rental
              Account. For example, we may enable Users to link their Trendings Rental
              Accounts to businesses and take actions for those businesses; we
              may enable eligible Users or certain third parties to book
              listings on behalf of other Users. These features do not require
              that you share your credentials with any other person. No third
              party is authorized by Trendings Rental to ask for your credentials, and you
              shall not request the credentials of another User.
            </p>
          </li>
        </ul>
      </div>
      <div class="content">
        <h4>PROHIBITED CONTENT:</h4>
        <p>
          As a pre-condition of use of the Trendings Rental Platform, User warrants to Trendings Rental
          that User shall not use this Trendings Rental Platform for any purpose that is
          unlawful, unauthorized, or inconsistent with these terms, and the User
          agrees that this license to use Trendings Rental Platform will terminate
          immediately upon User's violation of this warranty. Trendings Rental reserves the
          right, at its sole discretion, to block/terminate User's access to
          this Trendings Rental Platform and its content at any time, with or without notice.
          The User agrees, acknowledges, confirms and undertakes that the
          registration data, information/data provided or uploaded onto the Trendings Rental
          Platform by the User: a. shall not be false, inaccurate, misleading or
          incomplete; or b. shall not be fraudulent or involve the use of
          counterfeit or stolen credit cards; or c. shall not infringe any third
          party's intellectual property, trade secret or other proprietary
          rights or rights of publicity or privacy; or d. shall not be
          defamatory, libelous, unlawfully threatening or unlawfully harassing;
          or e. shall not contain any viruses, Trojan horses, worms, time bombs,
          cancel bots, Easter eggs or other computer programming routines or
          executable files that may damage, detrimentally interfere with,
          surreptitiously intercept or expropriate any system, data or personal
          information of any person whatsoever; or f. shall not create liability
          for Trendings Rental or cause Trendings Rental to lose (in whole or in part) the services of
          Trendings Rental’s ISPs or other service providers/suppliers. If the User
          contravenes the foregoing or Trendings Rental has reasonable grounds to suspect
          that the User has contravened the foregoing, Trendings Rental has the right to
          indefinitely deny or terminate User's access to the Trendings Rental Platform and
          to refuse to honor the User's request(s).
        </p>
        <ul>
          <h3>
            The Us ers are prohibited from engaging in the following activities:
          </h3>
          <li>
            Systematically retrieve data or other content from the Trendings Rental Platform
            to create or compile, directly or indirectly, a collection,
            compilation, database, or directory without written permission from
            us.
          </li>
          <li>
            Make any unauthorized use of the Trendings Rental Platform, including collecting
            usernames and/or email addresses of users by electronic or other
            means for the purpose of sending unsolicited email, or creating user
            accounts by automated means or under false pretenses.
          </li>
          <li>
            Circumvent, disable, or otherwise interfere with security-related
            features of the Trendings Rental Platform, including features that prevent or
            restrict the use or copying of any Content or enforce limitations on
            the use of the Trendings Rental Platform and/or the Content contained therein.
          </li>
          <li>
            Engage in unauthorized framing of or linking to the Trendings Rental Platform.
          </li>
          <li>
            Trick, defraud, or mislead us and other users, especially in any
            attempt to learn sensitive account information such as user
            passwords.
          </li>
          <li>
            Make improper use of our support services or submit false reports of
            abuse or misconduct.
          </li>
          <li>
            Engage in any automated use of the system, such as using scripts to
            send comments or messages, or using any data mining, robots, or
            similar data gathering and extraction tools.
          </li>
          <li>
            Interfere with, disrupt, or create an undue burden on the Trendings Rental
            Platform or the networks or services 8 connected to the Trendings Rental
            Platform.
          </li>
          <li>
            Attempt to impersonate another user or person or use the username of
            another user.
          </li>
          <li>Sell or otherwise transfer your profile.</li>
          <li>
            Use any information obtained from the Trendings Rental Platform in order to
            harass, abuse, or harm another person.
          </li>
          <li>
            Use the Trendings Rental Platform as part of any effort to compete with us or
            otherwise use the Trendings Rental Platform and/or the Content for any
            revenue-generating endeavor or commercial enterprise.
          </li>
          <li>
            Decipher, decompile, disassemble, or reverse engineer any of the
            software comprising or in any way making up a part of the Trendings Rental
            Platform.
          </li>
          <li>
            Attempt to bypass any measures of the Trendings Rental Platform designed to
            prevent or restrict access to the Trendings Rental Platform, or any portion of
            the Trendings Rental Platform.
          </li>
          <li>
            . Copy or adapt the Trendings Rental Platform’s software, including but not
            limited to Flash, PHP, HTML, JavaScript, or other code.
          </li>
          <li>
            Upload or transmit (or attempt to upload or to transmit viruses,
            Trojan horses, or other material, including excessive use of capital
            letters and spamming (continuous posting of repetitive text), that
            interferes with any party’s uninterrupted use and enjoyment of the
            Trendings Rental Platform or modifies, impairs, disrupts, alters, or interferes
            with the use, features, functions, operation, or maintenance of the
            Trendings Rental Platform.
          </li>
          <li>
            Upload or transmit (or attempt to upload or to transmit) any
            material that acts as a passive or active information collection or
            transmission mechanism
          </li>
          <li>
            Except as may be the result of standard search engine or Internet
            browser usage, use, launch, develop, or distribute any automated
          </li>
        </ul>
        <ul>
          <p>
            system, including without limitation, any spider, robot, cheat
            utility, scraper, or offline reader that accesses the Trendings Rental Platform,
            or using or launching any unauthorized script or other software.
          </p>
          <li>
            Disparage, tarnish, or otherwise harm, in our opinion, us and/or the
            Trendings Rental Platform.
          </li>
          <li>
            Use the Trendings Rental Platform in a manner inconsistent with any applicable
            laws or regulations.
          </li>
        </ul>
      </div>
      <div class="content">
        <h4>COMMUNICATIONS:</h4>
        <p>
          When you use the Trendings Rental Platform, you agree and understand that you are
          communicating with Trendings Rental through electronic records and you consent to
          receive communications via electronic records from Trendings Rental periodically
          and as and when required. Trendings Rental may communicate with you by email or by
          such other mode of communication, electronic or otherwise. You
          specifically agree that Trendings Rental shall not be responsible for unauthorized
          access to or alteration of your transmissions or data, any material or
          data sent or received or not sent or received. Further, Trendings Rental will make
          best efforts to safeguard the confidentiality of your personally
          identifiable information available with it. By using this Trendings Rental
          Platform, you agree that Trendings Rental shall not be liable for disclosure of
          your information due to errors in transmission or unauthorized acts of
          third parties. Without prejudice to the foregoing you agree that Trendings Rental
          shall not be held liable or responsible for 'phishing attacks' on you.
          You may accept or decline the cookies when you accesses Trendings Rental Platform.
          It is the User’s responsibility to set his browser to alert him to
          accept or to reject cookies.
        </p>
      </div>
      <div class="content">
        <h4>THIRD PARTY LINKS:</h4>
        <p>
          This Trendings Rental Platform may at Trendings Rental sole discretion, contain links to Trendings Rental
          Platforms owned and maintained by persons or entities other than Trendings Rental.
          Trendings Rental may also provide links to the other sites 9 for purpose of
          enabling the Customer to make payment to Trendings Rental. Any of the foregoing
          links do not constitute an endorsement by Trendings Rental of any such sites and
          are provided only as a convenience. Trendings Rental is not responsible for the
          content or links displayed on such sites. Trendings Rental is not responsible for
          the privacy practices of such sites which Trendings Rental does not own, manage or
          control. Trendings Rental does not regularly review, and makes no warranty or
          representation regarding materials posted, or Services or services
          offered, on the sites to which this Trendings Rental Platform may be linked and Trendings Rental
          shall not be responsible for any deficiency thereof. Trendings Rental does not
          endorse any or all of the materials, Services, and services available
          on such linked sites, and Trendings Rental expressly disclaims responsibility for
          the contents of any linked site, the accuracy of any information
          contained in a linked site, and the quality of the Services and
          services offered at any linked site. Any decision to view the contents
          of any linked site is solely the responsibility of User and is made at
          User’s own risk.
        </p>
      </div>
      <div class="content">
        <h4>INTELLECTUAL PROPERTY:</h4>
        <p>
          Trendings Rental Platform and the content posted herein which shall include but
          shall not be limited to pictures, branding, text, graphics, designs,
          brand logos, audio, video, interfaces and /or any other information,
          or the overall arrangement of content is protected and is owned,
          controlled or licensed by or to Trendings Rental; all comments, feedback, ideas,
          suggestions, information or any other content provided by the User
          (hereinafter referred to as “Trendings Rental IP”). You may not modify, publish,
          copy, transmit, transfer, sell, reproduce, modify create derivative
          works from, license, distribute, frame, hyperlink, download, repost,
          perform, translate, mirror, display or commercially exploit Trendings Rental IP in
          any other way.
        </p>
        <p>
          The User agrees that any feedback, comments, ideas, suggestions,
          information, or any other content which User contributes to Trendings Rental or Trendings Rental
          Platform (including the name you submit with any content) will be
          deemed to include a royalty-free, perpetual, irrevocable, nonexclusive
          right and license for Trendings Rental to adopt, publish, reproduce, disseminate,
          transmit, distribute, copy, use, create derivative works from, display
          worldwide, or act on such content without additional approval or
          consideration in any form, media, or technology now known or later
          developed for the full term of any rights that may exist in such
          content, and you waive any claim to the contrary. The User represents
          and warrants that User owns or otherwise controls all of the rights to
          the content that he/she may contribute to this Trendings Rental Platform and that
          use of his/her content by Trendings Rental shall not infringe upon or violate the
          rights of any third party.
        </p>
      </div>
      <div class="content">
        <h4>INDEMNIFICATION:</h4>
        <p>
          Without prejudice to and in addition to any other remedies, reliefs or
          legal recoTrendings Rentales available to Trendings Rental herein or any applicable laws or
          otherwise, User agrees to indemnify, defend and hold Trendings Rental harmless
          including but not limited to its affiliate, agents and employees from
          and against any and all losses, liabilities, claims, damages, demands,
          costs and expenses (including legal fees and disbTrendings Rentalements in
          connection therewith and interest chargeable thereon) asserted against
          or incurred by Trendings Rental that arise out of or related to your use or misuse
          of the of the Website, any violation by you of these terms and
          conditions, or any breach of representations, warranties and covenants
          made by you herein.
        </p>
      </div>
      <div class="content">
        <h4>NO WARRANTY:</h4>
        <p>
          The Services are provided by Trendings Rental on an "as is" basis without warranty
          of any kind, express, implied, statutory or otherwise, including the
          implied warranties of title, non-infringement, merchantability or
          fitness for a particular purpose. Without limiting the foregoing, Trendings Rental
          makes no warranty that (i) Trendings Rental Platform or the Services will meet your
          requirements or your use of the Trendings Rental Platform or will be uninterrupted,
          timely, secure or error-free; (ii) the results that may be obtained
          from the use of the Trendings Rental Platform, or Services will be effective,
          accurate or reliable; (iii) the quality of the Trendings Rental Platform, or
          Services will meet your expectations; or that (iv) any errors or
          defects in the Trendings Rental Platform or Services will be corrected. No advice
          or information, whether oral or written, obtained by you from Trendings Rental or
          through or from use of the Trendings Rental Platform shall create any warranty not
          expressly stated in the terms of use. Trendings Rental shall have no liability to
          the User for any interruption or delay, to access the Trendings Rental Platform
          irrespective of the cause. It is hereby further clarified that Trendings Rental and
          Channel Partners are separate and independent entities and Trendings Rental does
          not work as representative or agent of the Channel Partner.
        </p>
        <p>
          Trendings Rental will be the first point of contact in respect of online payment
          dispute management, refunds, cancellations, returns and customer
          support as they relate to the use of Trendings Rental services. User can reach out
          to Trendings Rental to mediate or resolve any online payment dispute or
          disagreement between User and Channel Partners. Trendings Rental shall not be made
          a party to any dispute between the User(s) and Channel Partner(s),
          except in disputes relating to Trendings Rental services as mentioned above. This
          website uses Mouse flow, a third-party analytics tool, to track page
          content and click/touch, movement, scroll, and keystroke activity. You
          can opt-out.
        </p>
      </div>
      <div class="content">
        <h4>LIMITATION OF LIABILITY:</h4>
        <p>
          Trendings Rental shall not be liable for any damages of any kind whatsoever
          including but not limited to direct, indirect, incidental, punitive,
          exemplary and consequential damages, damages for loss of use, data or
          profits, or other intangible losses, which may arise or are arising
          from the use of this Trendings Rental Platform or any of the information, software,
          services and related graphics contained within the Trendings Rental Platform or any
          of the Services offered, regardless of whether such damages are based
          on contract, tort, negligence, strict liability or otherwise, and even
          if Trendings Rental has been advised of the possibility of damages.
        </p>
        <p>
          otwithstanding anything to the contrary contained herein or elsewhere,
          Trendings Rental’s entire liability to the user for any claim arising out of
          availing Trendings Rental service/browsing the Trendings Rental platform shall be limited to the
          amount equivalent to the price paid for the product and service giving
          rise to such claim.
        </p>
        <p>
          You hereby waive any and all claims, causes of action, or the rights
          to bring such claims or causes of action, arising out of or related to
          the site, communication, or these terms and conditions after one (1)
          year from the first occurrence of the kind of act, event, condition,
          or 11 omission upon which the claim or cause of action is based. In an
          event, Trendings Rental is made liable to pay for losses, damages, etc. as
          mentioned above, under any law for the time being in force. Trendings Rental has a
          right to recover the same under such law from the fees / revenue to be
          remitted to Channel Partner and remit the balance to the Channel
          Partner during monthly settlement process.
        </p>
      </div>
      <div class="content">
        <h4>REFUND CLAIM PERIOD:</h4>
        <p>
          If you wish to claim a refund, you have an option to raise the request
          within 7 days from your checkout date.
        </p>
      </div>
      <div class="content">
        <h4>MODIFICATION OF THESE TERMS:</h4>
        <p>
          Trendings Rental reserves the right to modify these Terms at any time in accordance
          with this provision
        </p>
      </div>
      <div class="content">
        <h4>GENERAL PROVISIONS:</h4>
        <p>
          Governing Law and Jurisdiction: This Agreement, and all transactions
          entered into on or through Trendings Rental Platform shall be interpreted,
          construed and governed by the laws of India which shall be applicable
          to this Agreement without regard to principles of conflict of laws.
          User agrees that all claims, differences and disputes arising under or
          in connection with or in relation hereto the Trendings Rental Platform, the terms
          or any transactions entered into on or through the Trendings Rental Platform or the
          relationship between User and Trendings Rental shall be subject to the exclusive
          jurisdiction of the courts at Delhi and User hereby accede to and
          accept the jurisdiction of such courts.
        </p>
        <p>
          No Waiver: Any failure, delay or forbearance on the part of Trendings Rental in:
          (i) exercising any right, power or privilege under this Agreement; or
          (ii) enforcing terms of this Agreement, shall not operate as a waiver
          thereof, nor shall any single or partial exercise by Trendings Rental of any right,
          power or privilege preclude any other future exercise or enforcement
          thereof
        </p>
        <p>
          Severability: The Parties hereto agree that each of the provisions
          contained in this Agreement shall be severable, and the
          unenforceability of one or more provisions of this Agreement shall not
          affect the enforceability of any other provision(s) or of the
          remainder of this Agreement.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
