{% extends "base.html" %} {% block body %} {% include "header.html" with post_property="true" %}

<div class="container contact py-5 my-5">
  <div class="row my-5 py-5">
    <h1
      class="text-center h1"
      style="
        font-family: 'Times New Roman', Times, serif;
        color: #f00;
        font-weight: bold;
        font-size: 45px;
      "
    >
      Contact Us
    </h1>
  </div>
  <div class="container row contact-row my-2 py-4">
    <div class="col-md-6 h2 text-center">Corporate Address</div>
    <div class="col-md-6 text-center h2">
      18, 2nd cross, Shree Nidhi Layout, HeroHalli, Bangalore, Karnataka, 560091
    </div>
  </div>
  <div class="row contact-row my-2 py-4">
    <div class="col-md-6 h2 text-center">Email</div>
    <div class="col-md-6 text-center h2">mytrendingsrental@gmail.com</div>
  </div>
  <div class="row contact-row my-2 py-4">
    <div class="col-md-6 h2 text-center">Contact Number</div>
    <div class="col-md-6 text-center h2">8617373674</div>
  </div>



  <!-- Form Section -->
  <!-- <div class="container row">
    <div class="col-md-6 h2">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name"/>

        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email">

        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="Enter your phone number">

        <label for="message">Message</label>
        <textarea
            class="form-control"
            id="message"
            rows="3"
            placeholder="Enter your message"></textarea>
</div>
</div></div></div> --> </div>


{% endblock body %}
